<!DOCTYPE html>
{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h1>{{ posts|length }}</h1>
   <h3>{{ time_now|date:'d M Y' }}</h3>

     <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст статьи</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.article_title }}</td>
               <td>{{ post.time_in }}</td>
               <td>{{ post.article_text|truncatewords:20 }}</td>
           </tr>
           {% endfor %}
       </table>
   {% endif %}
{% endblock content %}